.page {
  font-family: 'Inter', Arial , sans-serif;
  font-style: normal;
  font-weight: 400;
  background-color: #2A2C2F;
  color: #fff;
  width: 100%;
  min-width: 320px;
  box-sizing: border-box;
  padding: 0 calc(50% - 640px);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
