.lead__image {
  width: 984px;
  height: 615px;
  margin: 0 auto;
}

@media screen and (max-width: 1280px) {
  .lead__image {
    width: calc(928px + (984 - 928) * ((100vw - 1024px) / (1280 - 1024)));
    height: calc(580px + (615 - 580) * ((100vw - 1024px) / (1280 - 1024)));
  }
}

@media screen and (max-width: 1024px) {
  .lead__image {
    width: calc(768px + (928 - 768) * ((100vw - 768px) / (1024 - 768)));
    height: calc(480px + (580 - 480) * ((100vw - 768px) / (1024 - 768)));
  }
}

@media screen and (max-width: 768px) {
  .lead__image {
    width: 100vw;
    height: 62.5vw;
  }
}

@media screen and (max-width: 320px) {
  .lead__image {
    width: 320px;
    min-height: 200px;
  }
}
