.footer {
  display: flex;
  flex-direction: row;
  max-width: 1184px;
  justify-content: space-between;
  margin: 92px 48px 0;
  padding-bottom: 24px;
}

@media (max-width: 1024px) {
  .footer {
    margin-left: calc(24px + (48 - 24) * ((100vw - 768px) / (1024 - 768)));
    margin-right: calc(24px + (48 - 24) * ((100vw - 768px) / (1024 - 768)));
  }
}

@media (max-width: 767px) {
  .footer {
    flex-direction: column;
    margin-top: 64px;
    margin-left: 16px;
    margin-right: 16px;
  }
}
